/*----------------------------------[Table of contents]----------------------------------
# newsletter-modal css
# home-slider css
# banner-area css
# product-tab css
# collection-product-list css
# testimonial css
---------------------------------------------------------------------------------------*/

/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap input {
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap button {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider .slider-image h2 {
    line-height: 1.21;
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide .slider-image p,
.slider-content .home-slider.swiper .swiper-slide .slider-image .slider-btn {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image p,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-btn {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image p {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-btn {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
@media (min-width: 1400px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
@media (min-width: 768px) {
    .slider-content .home-slider.swiper .swiper-dots {
        left: 50%;
        transform: translateX(-50%);
    }
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--primary-font-color);
    margin: 5px 0px 0px 5px;
    opacity: 0.5;
    border: 1px solid var(--primary-font-color);
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
/************************************* home-slider css end *************************************/

/************************************* banner-area css start *************************************/
/*====================================
    banner-area css
====================================*/
@media (min-width: 768px) {
    .banner-area .banner-block img {
        object-fit: cover;
        object-position: center;
    }
}
/************************************* banner-area css end *************************************/

/************************************* product-tab css start *************************************/
/*====================================
    product-tab css
====================================*/
.product-tab-area ul.nav-tabs {
    margin-top: -8px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.product-tab-area ul.nav-tabs>* {
    margin-top: 8px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
@media (min-width: 992px) {
    .product-tab-area ul.nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-tab-area ul.nav-tabs>* {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*====================================
    product-tab title css
====================================*/
.product-tab-area ul.nav-tabs li a {
    color: var(--body-font-color);
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.product-tab-area ul.nav-tabs li a:hover {
    color: var(--primary-font-color);    
}
.product-tab-area ul.nav-tabs li a.active {
    color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
/************************************* product-tab css end *************************************/

/************************************* collection-product-list css start *************************************/
/*========================================
    collection-product-list swiper css
========================================*/
.collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .collection-product-list .collection-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 100%;
    }
}
/************************************* collection-product-list css end *************************************/

/************************************* testimonial css start *************************************/
/*====================================
    testimonial slider-swiper css
====================================*/
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 992px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
/************************************* testimonial css end *************************************/