/*----------------------------------[Table of contents]----------------------------------
# newsletter-modal css
# home-slider css
# category-slider css
# service css
# deal-banner css
# product-tab css
# video-banner css
---------------------------------------------------------------------------------------*/

/************************************* newsletter-modal css start *************************************/
/*============================================
    newsletter-product swiper css
============================================*/
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 33.33%;
}

/*====================================
    newsletter-modal css
====================================*/
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider .newsletter-product .newsletter-single-product-wrap .product-image a.pro-img {
    display: block;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider .newsletter-product .newsletter-single-product-wrap .product-content {
    text-align: center;
}
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider .newsletter-product .newsletter-single-product-wrap .product-content .pro-content {
    margin-top: 11px;
}
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider .newsletter-product .newsletter-single-product-wrap .product-content .pro-content .product-price {
    margin-top: 4px;
}
.newsletter-modal .newsletter-info .newsletter-content .newsletter-product-wrap .newsletter-product-slider .newsletter-product .newsletter-single-product-wrap .product-content .pro-content .product-price .price-box {
    justify-content: center;
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    home-slider css
====================================*/
.slider-content .home-slider {
    margin-bottom: -50px;
    padding-bottom: 50px;
}
@media (min-width: 1200px) {
    .slider-content .home-slider {
        margin-bottom: -100px;
        padding-bottom: 100px;
    }
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider .slider-image h2 {
    line-height: 1.12;
}
.slider-content .home-slider .slider-image .slide-img {
    margin-bottom: -50px;
}
@media (min-width: 1200px) {
    .slider-content .home-slider .slider-image .slide-img {
        margin-bottom: -100px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-image h2 {
        font-size: 88px;
    }
    .slider-content .home-slider .slider-image p {
        margin-top: 45px;
    }
    .slider-content .home-slider .slider-image .slider-btn {
        margin-top: 63px;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide .slider-image p,
.slider-content .home-slider.swiper .swiper-slide .slider-image .slider-btn,
.slider-content .home-slider.swiper .swiper-slide .slider-image .slide-img {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image p,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-btn,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slide-img {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image p,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-btn {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slide-img {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image p {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-btn {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button {
    color: var(--body-font-color);
    background-color: var(--extra-font-color);
    border: 1px solid rgba(var(--border-color),var(--border-opacity));
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .home-slider.swiper .swiper-dots {
    bottom: 0px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-font-color);
    margin: 5px 0px 0px 5px;
    opacity: 1;
    border: 1px solid var(--secondary-font-color);
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 768px) {
    .slider-content .home-slider.swiper .swiper-dots {
        bottom: 80px;
    }
}
@media (min-width: 1200px) {
    .slider-content .home-slider.swiper .swiper-dots {
        bottom: 130px;
    }
}
/************************************* home-slider css end *************************************/

/************************************* category-slider css start *************************************/
/*====================================
    category-slider swiper css
====================================*/
.category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}

/*====================================
    category cat-content css
====================================*/
.category-slider .cat-slider .cat-block-banner span.cat-banner-img {
    --s: 120px;
    width: var(--s); 
    aspect-ratio: 1;
    --g:/calc(var(--s)*0.121) calc(var(--s)*0.121) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.419) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.382) calc(50% + var(--s)*0.17) var(--g),calc(50% + var(--s)*0.28) calc(50% + var(--s)*0.311) var(--g),calc(50% + var(--s)*0.129) calc(50% + var(--s)*0.398) var(--g),calc(50% + var(--s)*-0.044) calc(50% + var(--s)*0.416) var(--g),calc(50% + var(--s)*-0.209) calc(50% + var(--s)*0.362) var(--g),calc(50% + var(--s)*-0.339) calc(50% + var(--s)*0.246) var(--g),calc(50% + var(--s)*-0.409) calc(50% + var(--s)*0.087) var(--g),calc(50% + var(--s)*-0.409) calc(50% + var(--s)*-0.087) var(--g),calc(50% + var(--s)*-0.339) calc(50% + var(--s)*-0.246) var(--g),calc(50% + var(--s)*-0.209) calc(50% + var(--s)*-0.362) var(--g),calc(50% + var(--s)*-0.044) calc(50% + var(--s)*-0.416) var(--g),calc(50% + var(--s)*0.129) calc(50% + var(--s)*-0.398) var(--g),calc(50% + var(--s)*0.28) calc(50% + var(--s)*-0.311) var(--g),calc(50% + var(--s)*0.382) calc(50% + var(--s)*-0.17) var(--g),radial-gradient(calc(var(--s)*0.453),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.482) calc(50% + var(--s)*0.102) var(--g),calc(50% + var(--s)*0.399) calc(50% + var(--s)*0.29) var(--g),calc(50% + var(--s)*0.246) calc(50% + var(--s)*0.427) var(--g),calc(50% + var(--s)*0.052) calc(50% + var(--s)*0.49) var(--g),calc(50% + var(--s)*-0.152) calc(50% + var(--s)*0.469) var(--g),calc(50% + var(--s)*-0.33) calc(50% + var(--s)*0.366) var(--g),calc(50% + var(--s)*-0.45) calc(50% + var(--s)*0.2) var(--g),calc(50% + var(--s)*-0.493) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.45) calc(50% + var(--s)*-0.2) var(--g),calc(50% + var(--s)*-0.33) calc(50% + var(--s)*-0.366) var(--g),calc(50% + var(--s)*-0.152) calc(50% + var(--s)*-0.469) var(--g),calc(50% + var(--s)*0.052) calc(50% + var(--s)*-0.49) var(--g),calc(50% + var(--s)*0.246) calc(50% + var(--s)*-0.427) var(--g),calc(50% + var(--s)*0.399) calc(50% + var(--s)*-0.29) var(--g),calc(50% + var(--s)*0.482) calc(50% + var(--s)*-0.102) var(--g);
}
/************************************* category-slider css end *************************************/

/************************************* service css start *************************************/
/*====================================
    service css
====================================*/
.service-area .service-content .service-icon {
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.service-area .service-content:hover .service-icon {
    transform: translateY(-5px);
}
/************************************* service css end *************************************/

/************************************* deal-banner css start *************************************/
/*====================================
    hot-spot css
====================================*/
.hot-spot.hot-spot1 {
    top: 8.33%;
    right: 33.33%;
}
.hot-spot.hot-spot2 {
    top: 16.66%;
    left: 12.50%;
}

/* hot-spot-content css */
.hot-spot .hot-spot-content {
    display: none;
    width: 240px;
}
.hot-spot.hot-spot1 .hot-spot-content {
    transform: translate(-50%, calc(0% + 32px));
}
.hot-spot.hot-spot2 .hot-spot-content {
    transform: translate(-25%, calc(0% + 32px));
}
.hot-spot .hot-spot-content::after {
    content: "";
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
    border: 8px solid;
    border-color: transparent transparent var(--body-bgcolor) transparent;
}
.hot-spot.hot-spot1 .hot-spot-content::after {
    left: 50%;
}
.hot-spot.hot-spot2 .hot-spot-content::after {
    left: 25%;
}
/************************************* deal-banner css end *************************************/

/************************************* product-tab css start *************************************/
/*====================================
    product-tab css
====================================*/
.product-tab-area ul.nav-tabs {
    margin-top: -10px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.product-tab-area ul.nav-tabs>* {
    margin-top: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
@media (min-width: 992px) {
    .product-tab-area ul.nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-tab-area ul.nav-tabs>* {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*====================================
    product-tab title css
====================================*/
.product-tab-area ul.nav-tabs li a {
    color: var(--heading-font-color);
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.product-tab-area ul.nav-tabs li a:hover {
    color: var(--primary-font-color);    
}
.product-tab-area ul.nav-tabs li a.active {
    color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
/************************************* product-tab css end *************************************/

/************************************* video-banner css start *************************************/
/*====================================
    video-banner css
====================================*/
.video-banner .video-banner-content {
    position: relative;
    z-index: 1;
}
.video-banner .video-banner-content::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.2;
    z-index: -1;
}
/************************************* video-banner css end *************************************/