/*----------------------------------[Table of contents]----------------------------------
# newsletter-modal css
# home-slider css
# offer-text css
# category-slider css
# home-about css
# banner-deal-area css
# testimonial css
---------------------------------------------------------------------------------------*/

/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .modal-dialog {
        max-width: 750px;
    }
}

/*====================================
    newsletter-modal-content css
====================================*/
.newsletter-modal .newsletter-content h2 {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}
.newsletter-modal .newsletter-content a {
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.newsletter-modal .newsletter-content a:hover {
    color: var(--secondary-font-color);
    background-color: var(--body-bgcolor);
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .swiper-buttons .swiper-buttons-wrap button {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--extra-font-color);
    background-color: var(--secondary-font-color);
    border-color: var(--secondary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -15px 0px 0px;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    color: var(--extra-bgcolor2);
    font-size: 24px;
    text-shadow: 1px 0 0 var(--extra-font-color), 0 1px 0 var(--extra-font-color), -1px 0 0 var(--extra-font-color), 0 -1px 0 var(--extra-font-color);
    font-family: var(--heading-font-family);
    width: unset;
    height: unset;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    margin: 15px 0px 0px;
    font-weight: var(--heading-font-weight2);
    opacity: 0.5;
    border-radius: 0;
    line-height: 1.2;
    -webkit-transition: color 0.3s ease-in-out,font-size 0.3s ease-in-out,text-shadow 0.3s ease-in-out,opacity 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,font-size 0.3s ease-in-out,text-shadow 0.3s ease-in-out,opacity 0.3s ease-in-out;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: var(--extra-font-color);
    font-size: 32px;
    opacity: 1;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet a {
    color: var(--extra-font-color);
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    width: 0px;
    height: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-font-color);
    transform: scale(0);
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--heading-font-weight);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: width 0.3s ease-in-out,height 0.3s ease-in-out,padding 0.3s ease-in-out,margin-right 0.3s ease-in-out,transform 0.3s ease-in-out,opacity 0.3s ease-in-out,visibility 0.3s ease-in-out;
    transition: width 0.3s ease-in-out,height 0.3s ease-in-out,padding 0.3s ease-in-out,margin-right 0.3s ease-in-out,transform 0.3s ease-in-out,opacity 0.3s ease-in-out,visibility 0.3s ease-in-out;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active a {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-right: 15px;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
@media (min-width: 576px) {
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
        font-size: 32px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 48px;
    }
}
@media (min-width: 992px) {
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
        font-size: 40px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 56px;
    }
}
@media (min-width: 1200px) {
    .slider-content .swiper-dots .swiper-pagination {
        margin: -30px 0px 0px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
        font-size: 56px;
        margin: 30px 0px 0px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 72px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active a {
        width: 104px;
        height: 104px;
        margin-right: 30px;
    }
}
@media (min-width: 1400px) {
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
        font-size: 64px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 80px;
    }
}
@media (min-width: 1800px) {
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
        font-size: 80px;
    }
    .slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        font-size: 96px;
    }
}
/************************************* home-slider css end *************************************/

/************************************* offer-text css start *************************************/
/*====================================
    offer-text-marquee css
====================================*/
.offer-text .offer-text-marquee .offer-text-marquee-row {
    -webkit-animation: slide-left 40s linear infinite;
    animation: slide-left 40s linear infinite;
}
.offer-text:hover .offer-text-marquee .offer-text-marquee-row,
.offer-text:focus .offer-text-marquee .offer-text-marquee-row {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}
/************************************* offer-text css end *************************************/

/************************************* category-slider css start *************************************/
/*====================================
    category-slider swiper css
====================================*/
.category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 768px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 1200px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}

/*====================================
    category cat-content css
====================================*/
.category-slider .cat-slider .cat-content .cat-img-icon a span.cat-icon {
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.category-slider .cat-slider .cat-content:hover .cat-img-icon a span.cat-icon {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
}
@media (min-width: 400px) {
    .category-slider .cat-slider .cat-content .cat-img-icon a span.cat-img {
        width: 144px;
    }
}
@media (min-width: 1200px) {
    .category-slider .cat-slider .cat-content .cat-img-icon a span.cat-img {
        width: 160px;
    }
}
@media (min-width: 1400px) {
    .category-slider .cat-slider .cat-content .cat-img-icon a span.cat-img {
        width: 200px;
    }
}
/************************************* category-slider css end *************************************/

/************************************* home-about css start *************************************/
/*====================================
    home-about css
====================================*/
.home-about span.home-about-img {
    width: 200px;
}
.home-about span.home-about-img img {
    -webkit-filter: opacity(0.2);
    filter: opacity(0.2);
}
@media (min-width: 1200px) {
    .home-about span.home-about-img {
        width: 280px;
    }
}
/************************************* home-about css end *************************************/

/************************************* banner-deal-area css start *************************************/
/*====================================
    banner-deal-area css
====================================*/
.banner-deal-area .banner-area .banner-block .banner-content a {
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out;
}
.banner-deal-area .banner-area.banner-area1:hover .banner-block .banner-content a {
    color: var(--primary-font-color);
    background-color: var(--body-bgcolor);
}
.banner-deal-area .banner-area.banner-area2:hover .banner-block .banner-content a {
    color: var(--extra-font-color);
    background-color: var(--secondary-font-color);
}
/************************************* banner-deal-area css end *************************************/

/************************************* testimonial css start *************************************/
/*====================================
    testimonial slider-swiper css
====================================*/
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
/************************************* testimonial css end *************************************/