/*----------------------------------[Table of contents]----------------------------------
# newsletter-modal css
# home-slider css
# brand-logo css
# category-slider css
# newsletter-area css
# testimonial css
---------------------------------------------------------------------------------------*/

/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .modal-dialog {
        max-width: 750px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    home-slider css
====================================*/
.slider-content .home-slider {
    margin-bottom: -50px;
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider .slider-image h2 {
    line-height: 1.18;
}
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-image .slider-subtitle {
        margin-bottom: 13px;
    }
    .slider-content .home-slider .slider-image h2 {
        font-size: 88px;
    }
    .slider-content .home-slider .slider-image a {
        margin-top: 39px;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-image .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide .slider-image a,
.slider-content .home-slider.swiper .swiper-slide .slider-image .slide-img {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slide-img {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slide-img {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-subtitle {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-dot css
====================================*/
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 5px 0px 0px 5px;
    opacity: 1;
    border: 1px solid var(--secondary-font-color);
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--secondary-font-color);
    border-color: var(--secondary-font-color);
}
/************************************* home-slider css end *************************************/

/************************************* brand-logo css start *************************************/
/*====================================
    brand-logo swiper css
====================================*/
.brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 992px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 1200px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}

/*====================================
    brand-content css
====================================*/
.brand-logo .brand-slider .brand-content {
    position: relative;
}
.brand-logo .brand-slider .brand-content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 4px;
    background-color: var(--primary-font-color);
    transform: scaleX(0);
    z-index: 1;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.brand-logo .brand-slider .brand-content:hover::after {
    transform: scaleX(-1);
}
@media (min-width: 768px) {
    .brand-logo .brand-slider .brand-content span.brand-img img {
        width: 176px;
    }
}
@media (min-width: 1200px) {
    .brand-logo .brand-slider .brand-content span.brand-img img {
        -webkit-filter: opacity(0.3) grayscale(1);
        filter: opacity(0.3) grayscale(1);
        -webkit-transition: filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out;
    }
    .brand-logo .brand-slider .brand-content:hover span.brand-img img {
        -webkit-filter: opacity(1) grayscale(0);
        filter: opacity(1) grayscale(0);
    }
}
/************************************* brand-logo css end *************************************/

/************************************* category-slider css start *************************************/
/*====================================
    category-slider swiper css
====================================*/
.category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .category-slider {
        overflow-x: hidden;
    }
    .category-slider .cat-slider {
        margin-right: calc(-100% - 30px);
    }
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .category-slider .cat-slider {
        margin-right: calc(-33.33% - 10px);
    }
}
@media (min-width: 1400px) {
    .category-slider .cat-slider {
        margin-right: calc(-50% - 15px);
    }
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}

/*====================================
    category cat-content css
====================================*/
.category-slider .cat-slider .cat-block .cat-content a.cat-btn {
    margin-bottom: -56px;
    --s: 112px;
    width: var(--s);
    aspect-ratio: 1;
    --g:/calc(var(--s)*0.2) calc(var(--s)*0.2) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.372) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.301) calc(50% + var(--s)*0.218) var(--g),calc(50% + var(--s)*0.115) calc(50% + var(--s)*0.353) var(--g),calc(50% + var(--s)*-0.115) calc(50% + var(--s)*0.353) var(--g),calc(50% + var(--s)*-0.301) calc(50% + var(--s)*0.218) var(--g),calc(50% + var(--s)*-0.372) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.301) calc(50% + var(--s)*-0.218) var(--g),calc(50% + var(--s)*-0.115) calc(50% + var(--s)*-0.353) var(--g),calc(50% + var(--s)*0.115) calc(50% + var(--s)*-0.353) var(--g),calc(50% + var(--s)*0.301) calc(50% + var(--s)*-0.218) var(--g),radial-gradient(calc(var(--s)*0.439),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.492) calc(50% + var(--s)*0.16) var(--g),calc(50% + var(--s)*0.304) calc(50% + var(--s)*0.418) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*0.517) var(--g),calc(50% + var(--s)*-0.304) calc(50% + var(--s)*0.418) var(--g),calc(50% + var(--s)*-0.492) calc(50% + var(--s)*0.16) var(--g),calc(50% + var(--s)*-0.492) calc(50% + var(--s)*-0.16) var(--g),calc(50% + var(--s)*-0.304) calc(50% + var(--s)*-0.418) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.517) var(--g),calc(50% + var(--s)*0.304) calc(50% + var(--s)*-0.418) var(--g),calc(50% + var(--s)*0.492) calc(50% + var(--s)*-0.16) var(--g);
}
/************************************* category-slider css end *************************************/

/************************************* newsletter-area css start *************************************/
/*====================================
    newsletter-title css
====================================*/
.newsletter-area .newsletter-block .newsletter-title .section-capture span.sub-title {
    color: var(--heading-font-color);
}

/*====================================
    newsletter-img css
====================================*/
.newsletter-area .newsletter-block .newsletter-img {
    margin-top: -20px;
    margin-bottom: -5px;
}
@media (min-width: 768px) {
    .newsletter-area .newsletter-block .newsletter-img {
        margin-top: -30px;
    }
}
@media (min-width: 992px) {
    .newsletter-area .newsletter-block .newsletter-img {
        margin-bottom: 0px;
    }
}

/*====================================
    newsletter-form css
====================================*/
@media (min-width: 768px) {
    .newsletter-area .newsletter-block .newsletter-form form.news-form .news-wrap input {
        border-radius: var(--border-radius2) 0px 0px var(--border-radius2);
    }
    .newsletter-area .newsletter-block .newsletter-form form.news-form .news-wrap button {
        border-radius: 0px var(--border-radius2) var(--border-radius2) 0px;
    }
}
/************************************* newsletter-area css end *************************************/

/************************************* testimonial css start *************************************/
/*====================================
    testimonial slider-swiper css
====================================*/
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
/************************************* testimonial css end *************************************/